# --- Параметры СУБД PostgreSQL ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12393qwe
POSTGRES_DB=nortgru_db

# --- Параметры подключения к локальной Ollama (на хост-машине VPS) ---
# На Linux хосте адрес host.docker.internal будет перенаправлен на хост благодаря extra_hosts в compose
OLLAMA_URL=http://host.docker.internal:11434/api/chat
OLLAMA_MODEL=gemma4:e4b

# --- Параметры подключения к публикации 1С ---
ONEC_BASE_URL=http://host.docker.internal:8081/InfoBase4/hs/edu-agent
ONEC_USER=admin
ONEC_PASSWORD=PASSWORD
